#no-mobile{
    position: absolute;
    background-color: var(--pink);
    height:100vh;
    width:100vw;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  @media screen and (max-width:600px){
      #no-mobile{
          display:none;
      }
  }